.jumbotron {
  padding-top: 8rem;
  background-color: #000000;
}

#gallery {
  background-color: #000000;
  margin-top: -5px;
}

section {
  padding-top: 85px;
}

#about {
  background-color: #e00000;
  margin-top: -5px;
}

#contact {
  background-color: #e00000;
  margin-top: -5px;
}

.footer {
  margin-top: -5px;
}

